/* styles.css */

body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
}
.background-container-welcome {
  background-image: url("./img/sfondo_welcome.avif");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.background-container-login {
  background-image: url("./img/sfondo_login.jpeg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.background-container-register {
  background-image: url("./img/sfondo.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.background-container-client {
  background-image: url("./img/sfondo_login.jpeg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

h2 {
  color: #333;
}

p {
  color: #666;
}

/* Restaurant.css */

.card-title,
.card-text {
  color: black;
}
.card-body {
  background-color: whitesmoke;
  padding: 15px;
}

.dropdown-menu-scrollable {
  max-height: 500px;
  overflow-y: auto;
}
.restaurant-card {
  transition: transform 0.3s;
  cursor: pointer;
  height: 300px;
}

.restaurant-card:hover {
  transform: scale(1.1);
}
.restaurant-card.selected {
  transform: scale(1.1);
  border: 2px solid #007bff;
}
.three-columns-grid {
  display: flex;
  flex-wrap: wrap;
}
.three-columns-grid .col {
  flex: 0 0 33.33%;
  max-width: 33.33%;
  padding-right: 10px;
  padding-left: 10px;
}

.imgCard {
  height: 120px;
}
.scrollbar-review {
  max-height: 170px;
  overflow-y: auto;
}
.unclickable {
  cursor: not-allowed;
  opacity: 0.6;
}

.unclickable:hover {
  background-color: initial;
}

.w-100 {
  height: 170px;
}
.restaurant-info {
  height: 340px;
}
.reviews-section {
  height: 260px;
}
